@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 12% 8%;
    --foreground: 225 20% 98%;
    --card: 225 9% 10%;
    --card-foreground: 225 20% 98%;
    --popover: 225 9% 10%;
    --popover-foreground: 225 20% 98%;
    --primary: 219 95% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 5% 19%;
    --secondary-foreground: 225 20% 98%;
    --muted: 228 5% 19%;
    --muted-foreground: 213 10% 73%;
    --accent: 228 5% 19%;
    --accent-foreground: 225 20% 98%;
    --destructive: 3 81% 58%;
    --destructive-foreground: 210 40% 98%;
    --border: 225 8% 14%;
    --input: 225 8% 14%;
    --ring: 219 95% 59%; 
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
